<section class="row">
  <div class="col col-12 mdl-shadow--2dp about p-20">
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <div class="text-center p-10">
          <img style="width: 260px; height: 260px; object-fit: cover;  border-radius: 50%;" src="<%= @creator.photo.thumb %>" alt="logo" />
        </div>
        <br>
        <div class="text-center">
          <ul class="social-icons">
            <% if !@creator.facebook.nil? %>
              <% if @creator.facebook.size >= 1 %>
              <li>
                <a class="facebook-link" href="<%= @creator.facebook %>">
                  <i id="tt1" class="zmdi zmdi-facebook"></i>
                  <div class="mdl-tooltip" data-mdl-for="tt1">
                    facebook
                  </div>
                </a>
              </li>
              <% end %>
            <% end %>
            <% if !@creator.twitter.nil? %>
              <% if @creator.twitter.size >= 1 %>
              <li>
                <a class="twitter-link" href="<%= @creator.twitter %>">
                  <i id="tt2" class="zmdi zmdi-twitter"></i>
                  <div class="mdl-tooltip" data-mdl-for="tt2">
                    twitter
                  </div>
                </a>
              </li>
              <% end %>
            <% end %>
            <% if !@creator.youtube.nil? %>
              <% if @creator.youtube.size >= 1 %>
              <li>
                <a class="youtube-link" href="<%= @creator.youtube %>">
                  <i id="tt3" class="zmdi zmdi-youtube"></i>
                  <div class="mdl-tooltip" data-mdl-for="tt3">
                    YouTube
                  </div>
                </a>
              </li>
              <% end %>
            <% end %>
            <% if !@creator.twitch.nil? %>
              <% if @creator.twitch.size >= 1 %>
              <li>
                <a class="twitch-link" href="<%= @creator.twitch %>">
                  <i id="tt4" class="zmdi zmdi-twitch"></i>
                  <div class="mdl-tooltip" data-mdl-for="tt4">
                    Twitch
                  </div>
                </a>
              </li>
              <% end %>
            <% end %>
            <% if !@creator.instagram.nil? %>
              <% if @creator.instagram.size >= 1 %>
              <li>
                <a class="instagram-link" href="<%= @creator.instagram %>">
                  <i id="tt5" class="zmdi zmdi-instagram"></i>
                  <div class="mdl-tooltip" data-mdl-for="tt5">
                    instagram
                  </div>
                </a>
              </li>
              <% end %>
            <% end %>
            <% if !@creator.linkdin.nil? %>
              <% if @creator.linkdin.size >= 1 %>
              <li>
                <a class="linkedin-link" href="<%= @creator.linkdin %>">
                  <i id="tt6" class="zmdi zmdi-linkedin"></i>
                  <div class="mdl-tooltip" data-mdl-for="tt6">
                    linkedin
                  </div>
                </a>
              </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-7 col-xs-12">
        <div class="info-wrap">
          <div class="row">
            <div class="col-10">
              <h1><%= @creator.page_name %></h1>
            </div>

            <div class="col-2" id="follow_button" style="<%= 'display: none;' if @creator.followers&.find_by(user_id: current_user&.id) %>;">
              <%= link_to creator_follows_path(creator_id: @creator.try(:id)), method: :post, remote: true, class: 'btn btn-warning btn-sm', style: "width: 100%" do %>
                <i class="fas fa-user" style="width: 2.2em; height: 2.2em; color: #FFF;"></i>
                <p>Seguir</p>
              <% end %>
            </div>

            <div class="col-2" id="unfollow_button" style="<%= 'display: none;' unless @creator.followers&.find_by(user_id: current_user&.id) %>;">
              <%= link_to creator_follows_destroy_path(creator_id: @creator.try(:id)), method: :delete, remote: true, class: 'btn btn-success btn-sm', style: "width: 100%" do %>
                <i class="fas fa-user" style="width: 2.2em; height: 2.2em; color: #FFF;"></i>
                <p>Seguindo</p>
              <% end %>
            </div>

          </div>
          <h5><%= @creator.short_description %></h5>
          <div class="pv-20">
            <% if @creator.publi_file != nil  %>
              <% if @creator.publi_file.size >= 10  %>
                <a target="_blank" id="download_cv" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  bg-green font-white mr-10" href="<%= @creator.publi_file %>">Download Publi</a>
              <% end %>
            <% end %>
            <% if @creator.contact_file != nil %>
              <% if @creator.contact_file.size >= 10 %>
                <a target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect bg-blue mh-20 font-white" href="<%= @creator.contact_file %>" data-scroll>Portfólio</a>
              <% end %>
            <% end %>
          </div>
        </div>
        <ul class="profile-wrap mt-10">
          <% if @creator.page_create != nil %>
          <li>
            <div class="profile-title">Tempo de Gerador</div>
              <div class="profile-desc">
                <%= distance_of_time_in_words(@creator.page_create.to_time, Time.now) %>
              </div>
          </li>
          <% end %>
          <% if !@creator.contact_address.nil? %>
            <% if @creator.contact_address.size >= 1 %>
            <li>
              <div class="profile-title">Endereço</div>
              <div class="profile-desc">
                <%= @creator.contact_address %>
              </div>
            </li>
            <% end %>
          <% end %>
          <% if !@creator.contact_email.nil? %>
            <% if @creator.contact_email.size >= 1 %>
            <li>
              <div class="profile-title">email</div>
              <div class="profile-desc">
                <%= @creator.contact_email %>
              </div>
            </li>
            <% end %>
          <% end %>
          <% if !@creator.contact_phone.nil? %>
            <% if @creator.contact_phone.size >= 1 %>
              <li>
                <div class="profile-title">Fone</div>
                <div class="profile-desc">
                  <%= @creator.contact_phone %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
