<%= render 'header_perfil' %>
<section class="blog-content container">
  <div class="mt-40">
    <nav class="nav-menu-blog nav-bar">
      <div class="name"><a href="/<% if !@creator.nil? %><%= @creator.slug %><% end %>"><i class="fas fa-user"></i><% if !@creator.nil? %> <%= @creator.page_name %><% end %></a></div>
      <ul class="nav justify-content-end">
        <li><a href="<% if !@creator.nil? %>/<%= @creator.slug %>/blog<% else %>/blog<% end %>">BLOG</a></li>
      </ul>
    </nav>
  </div>

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <div class="my-8 card">
      <h1 class="card-header">Postagens
        <small>notícias / blog / Artigos</small>
      </h1>
      </div>


      <% @blogs.each do |blog| %>

      <!-- Blog Post -->
        <div class="card mb-4">
          <div class="img-blog-b1">
            <% if @creator.nil? %>
              <a href="<%= public_post_path(blog.slug) %>">
            <% else %>
              <a href="<%= public_creator_post_path(@creator.slug, blog.slug) %>">
            <% end %>
          <img class="card-img-top object-fit-cover" src="<%= blog.cover.thumb %>" alt="Card image cap"></a>
          </div>
          <div class="card-body">
            <h2 class="card-title"><%= blog.title %></h2>
            <p class="card-text"><%= blog.short_description  %></p>

            <% if @creator.nil? %>
              <a href="<%= public_post_path(blog.slug) %>" class="btn btn-primary">Continue lendo</a>
            <% else %>
              <a href="<%= public_creator_post_path(@creator.slug, blog.slug) %>" class="btn btn-primary">Continue lendo</a>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            Postado em <%= blog.created_at.strftime("%d/%m/%Y") %>
            <a href="/<%= blog.creator.slug %>">Por: <%= blog.creator.page_name %></a> |
            <small><%= blog.all_tags %></small>
          </div>

        </div>
      <% end %>



      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Voltar</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Avançar &rarr;</a>
        </li>
      </ul>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Procurar Postagem</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Me diga o que procurar.">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Pokébola, vai!</button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categorias</h5>
        <div class="card-body">
        <!--  <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutorials</a>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Mais vistas hoje</h5>
        <div class="card-body">
        <!--  You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers! -->
        </div>
      </div>

    </div>

  </div>
  </<section>
  <!-- /.row -->
