<%= render 'header_perfil' %>
<section class="blog-content container">
  <div class="mt-40">
    <nav class="nav-menu-blog nav-bar">
      <div class="name"><a href="/elfabandida"><i class="fas fa-user"></i> Elfa Bandida</a></div>
      <ul class="nav justify-content-end">
        <li><a data-scroll href="#blog">BLOG</a></li>
      </ul>
    </nav>
  </div>
<div class="container">
<section id="blog" class="blog">
  <h2 class="title-blog">blog</h2>
  <% contador = 0 %>
  <% @blogs.each do |blog| %>
    <% if contador == 0 %>
      <div class="row">
    <% end %>

    <% contador = contador + 1 %>
    <div class="col-sm-6 mb-30">
      <div class="mdl-shadow--2dp pa-0 item-blog">
        <div class="mdl-card__title pa-0 box-image">
          <% if blog.cover != nil %>
            <% if blog.cover.size > 0 %>
              <div class="blog-img">
                <% if @creator.nil? %>
                  <a href="<%= public_post_path(blog.slug) %>">
                <% else %>
                  <a href="<%= public_creator_post_path(@creator.slug, blog.slug) %>">
                <% end %>
                <img src="<%= blog.cover.thumb %>" width="460" height="272" alt="">
                </a>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="box-texts">
          <!-- <span class="blog-cat">photography</span> -->
          <% if @creator.nil? %>
            <a href="<%= public_post_path(blog.slug) %>"><h4 class="mt-15 mb-20"><%= blog.title %></h4></a>
          <% else %>
            <a href="<%= public_creator_post_path(@creator.slug, blog.slug) %>"><h4 class="mt-15 mb-20"><%= blog.title %></h4></a>
          <% end %>
          <p><%= blog.short_description  %></p>
          <a href="<%= public_post_path(blog.slug) %>" class="button-ico-blog mdl-shadow--4dp">
            <i class="fas fa-wifi"></i>
          </a>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <span class="blog-post-date inline-block"><%= blog.created_at.strftime("%d/%m/%Y") %></span>
          <ul class="share-blog-item">
            <li><i class="fas fa-share-alt"></i> Compartilhar </li>
            <li>
              <a class="facebook-link" href="">
                <i id="tt1" class="zmdi zmdi-facebook"></i>
                <div class="mdl-tooltip" data-mdl-for="tt1">
                  facebook
                </div>
              </a>
            </li>
            <li>
              <a class="twitter-link" href="">
                <i id="tt2" class="zmdi zmdi-twitter"></i>
                <div class="mdl-tooltip" data-mdl-for="tt2">
                  twitter
                </div>
              </a>
            </li>
            <li>
              <a class="twitch-link" href="">
                <i id="tt4" class="zmdi zmdi-twitch"></i>
                <div class="mdl-tooltip" data-mdl-for="tt4">
                  Twitch
                </div>
              </a>
            </li>
            <li>
              <a class="instagram-link" href="">
                <i id="tt5" class="zmdi zmdi-instagram"></i>
                <div class="mdl-tooltip" data-mdl-for="tt5">
                  instagram
                </div>
              </a>
            </li>
            <li>
              <a class="linkedin-link" href="">
                <i id="tt6" class="zmdi zmdi-linkedin"></i>
                <div class="mdl-tooltip" data-mdl-for="tt6">
                  linkedin
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <% if contador == 2 %>
      <% contador = 0 %>
      </div>
    <% end %>
  <% end %>
  <div class="text-center pgnavigation">
  <div class="navigation-block pv-20">
    <a href="#" class="inline-block pull-left prev"><i class="zmdi zmdi-arrow-left font-blue"></i></a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#" class="inline-block pull-right next"><i class="zmdi zmdi-arrow-right font-blue"></i></a>
    <div class="clearfix"></div>
  </div>
  </div>
</section>
</div>
