<header class="blog-header p-10">
  <div class="col col-lg-1 col-4 float-left">
    <a href="#"><img src=".\img\logo.svg" width="80" title="World of Warcraft" alt="World of Warcraft"></a>
  </div>
  <div class="col col-lg-6 col-8 float-right text-right">
  <ul class="menu-top inline">
    <li><i class="zmdi zmdi-blogger"></i> <a href="<%= public_blog_path %>">BLOG</a></li>
    <li><i id="tt4" class="zmdi zmdi-twitch"></i> <a href="<%= twitch_live_path %>">AO VIVO</a></li>
    <% if user_signed_in? %>
      <li><a href="/panel"><%= current_user.name %></a></li>
    <% else %>
      <li><i class="zmdi zmdi-account-circle"></i> <a href="/panel">LOGIN</a></li>
      <li><%= link_to "Registre-se", new_user_registration_path, class: "btn btn-warning" %></li>
    <% end %>
  </ul>
  </div>
</header>
<div class="clearfix"></div>
<section id="main" class="row">
  <div class="container">
    <div class="box-search">

      <div class="clearfix"></div>
      <div class="col col-lg-1">
        <img src=".\img\iconlogo.svg" width="35" title="GamersHall" alt="GamersHall">
      </div>
      <%= simple_form_for OpenStruct.new(current_scopes), as: :search, url:  public_result_path, method: :get do |f| %>
      <%#= search_form_for @q, url: public_result_path do |f| %>
      <div class="col col-lg-11">
        <%#= f.input_field :search,  %>
        <%= f.input_field :search, name: :search, autofocus: true, class: 'top-search' %>
      </div>
      <% end %>

      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <br>

    <div class="blocks">
      <div class="block-blogs">
        <h4><i class="far fa-caret-square-down"></i> PERFIS DESTAQUES</h4>
        <ul class="carousel-blogs">
          <% @creators.each do |creator| %>
            <li>
              <a href="<%= creator.slug %>" target="_blank">
              <div class="col col-lg-12 align-self-center box">
                  <% unless creator.photo_box.size >= 1  %>
                    <img class="embed-responsive object-fit-cover" src="<%= creator.photo.thumb %>" alt="<%= creator.slug %>" />
                  <% else %>
                    <img class="embed-responsive object-fit-cover" src="<%= creator.photo_box.perfil %>" alt="<%= creator.slug %>" />
                  <% end %>

              </div>
              <h6><%= creator.page_name %></h6></a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="block-posts">
        <h4><i class="far fa-caret-square-down"></i> POSTS MAIS VISITADOS</h4>
        <ul class="carousel-posts">
          <% @blogs.each do |blog| %>
            <li>
              <a href="post/<%= blog.slug %>"><div class="col col-lg-12 box">
                <img src="<%= blog.cover.thumb %>" class="embed-responsive object-fit-cover" width="460" height="272" alt="">
              </div>
              <h6><%= blog.title %></h6></a>
            </li>
          <% end %>
        </ul>
      </div>
      <br class="clearfix">
    </div>

  </div>
  <div class="clearfix"></div>
</section>
<div class="clearfix"></div>
