<%= render 'header_perfil' %>
<section class="blog-content container">
  <div class="mt-40">
      <%= render 'about' %>
      <div style="background-color:#343a40 !important; position: relative"
      <ul class="nav nav-tabs bg-dark" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a href="<%= @creator.slug %>/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="twitch-tab" data-toggle="tab" href="#twitch" role="tab" aria-controls="contact" aria-selected="false">Twitch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      </div>
      <div class="tab-content box-content" id="myTabContent">
        <div class="tab-pane fade show in active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <% if @creator.about != nil %>
            <% if @creator.about.size >= 10 %>
              <%= render 'bio' %>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="twitch" role="tabpanel" aria-labelledby="twitch-tab">
          <% if @creator.twitch != nil %>
            <% if @creator.twitch.size >= 10 %>
              <%= render 'twitch' %>
            <% end %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>


  </div>
</section>
