<%= render 'header_perfil' %>
<section class="blog-content container">
  <div class="mt-40">
    <nav class="nav-menu-blog nav-bar">
      <div class="name"><a href="<% if !@blog.creator.nil? %>/<%= @blog.creator.slug %><% end %>"><i class="fas fa-user"></i><% if !@blog.creator.nil? %><%= @blog.creator.page_name %><% end %></a></div>
      <ul class="nav justify-content-end">
        <li><a data-scroll href="#blog">BLOG</a></li>
      </ul>
    </nav>
  </div>
  <div class="col col-12">
    <div id="post" class="post  mdl-shadow--2dp pa-0 ">
          <div class="mdl-card__title">
            <% if @blog.cover != nil %>
              <% if @blog.cover.size > 0 %>
                <div class="main-blogpost-img">
                  <img style="width: 100%" src="<%= @blog.cover.showimg %>" alt="">
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col col-12">
            <div class="text-center">
              <h2 class="mt-10"><%= @blog.title %></h2>
              <ul class="datecredits">
                <li class="blog-post-date"><%= @blog.created_at.strftime("%d/%m/%Y") %></li>
                <li class="blog-post-info ">
                  <% if @creator != nil %>
                  <a href="" class="pr-10"> <i class="fas fa-user"></i><%= @creator.page_name %></a>
                  <% end %>
                <!--  <a href=""><i class="zmdi zmdi-comments pr-10"></i>51</a> -->
                </li>
              </ul>
            </div>
            <div class="read col col-12">
              <%= @blog.body.html_safe %>
            </div>
          </div>

    </div>
  </div>

</section>
