<div class="container">
  <!--Blog Sec-->
  <section id="blog_sec" class="blog-sec mt-180 mt-sm-120">
    <div class="row">
      <div class="col-sm-12 mb-30">
        <div class="mdl-card mdl-shadow--2dp pa-0">
          <div class="mdl-card__title pa-0">
            <% if @blog.cover != nil %>
              <% if @blog.cover.size > 0 %>
                <div class="img-fluid">
                  <img class="img-fluid" style="width: 100%" src="<%= @blog.cover.showimg %>" alt="">
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="mdl-card__supporting-text relative">
            <div class="text-center">
              <h2 class="mt-10"><%= @blog.title %></h2>
              <span class="blog-post-date inline-block mt-10"><%= @blog.created_at.strftime("%d/%m/%Y") %></span>
              <div class="blog-post-info mt-10">
                <% if @creator != nil %>
                  <a href="" class="pr-10"><i class="zmdi zmdi-account pr-5"></i><%= @creator.page_name %></a>
                <% end %>
              <!--  <a href=""><i class="zmdi zmdi-comments pr-10"></i>51</a> -->
              </div>
            </div>
            <div class="mt-50 mb-20 lead">
              <%= @blog.body.html_safe %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
