
<%= render 'header_perfil' %>
<div class="container">
  <br class="clearfix">
  <br class="clearfix">
  <hgroup class="mb20">
		<h1>Resultados da Busca</h1>
		<h2 class="lead"><strong class="text-danger"><%= @creators.count %></strong> resultados encontrados para <strong class="text-danger"><%= params[:search] %></strong></h2>
  </hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">

    <% @creators.each do |creator| %>
    <article class="search-result row">
			<div class="col-xs-12 col-sm-12 col-md-3">
        <h4><a href="/<%= creator.slug %>"><%= creator.page_name %></a></h4>
				<a href="/<%= creator.slug %>" title="<%= creator.page_name %>" class="thumbnail">
          <% unless creator.photo_box.size >= 1  %>
            <img class="embed-responsive" src="<%= creator.photo.thumb %>" alt="<%= creator.slug %>" />
          <% else %>
            <img class="embed-responsive" src="<%= creator.photo_box.perfil %>" alt="<%= creator.slug %>" />
          <% end %>
        </a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="meta-search">
          <br>
          <li><a href="/<%= creator.slug %>/blog">Blog</a></li>
          <li><a href="<%= creator.twitch %>">Stream</a></li>
          <li><a href="<%= creator.facebook %>">Facebook</a></li>
          <li><a href="<%= creator.youtube %>">YouTube</a></li>
          <li><a href="<%= creator.instagram %>">Instagram</a></li>
          <li><a href="<%= creator.twitter %>">Twitter</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
				<h3><a href="/<%= creator.slug %>" title=""><%= creator.short_description %></a></h3>
				<pre><code><%= creator.about.html_safe %><code></pre>
			</div>
			<span class="clearfix borda"></span>
      <br>
      <br>
		</article>
    <% end %>
	</section>
</div>
