<br>
<%= simple_form_for(@blog) do |f| %>
<h4 class="text-center">Criar Artigo/Blog</h4>
<p class="text-center">todos os campos são obrigatórios</p>
<div class="container">
<%= f.error_notification %>
<div class="form-inputs">
  <div class="row">
    <div class="col-md-12">
      <%= f.label :cover %><br>
      <%= f.file_field :cover %>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :title %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :short_description, rows: 2 %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.label :body %><br>
      <%= f.cktext_area :body, rows: 40 %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
        <%= f.label 'tag - Separe as tags com ","' %><br>
        <%= f.input :all_tags, placeholder: "Separe as tags com ','", label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :creator_published %>
    </div>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
  </div>
<% end %>
</div>
