<div class="card-header">POSTAGENS  <%= link_to t('.new', :default => t("NOVO POST")), new_blog_path, :class => 'btn btn-success btn-xs' %></div>

<div class="card-body">
<table class="table table-striped">
  <thead>
    <tr>

      <th class="col-md-6">Título</th>
      <th class="col-md-2 text-center">Data</th>
      <th class="col-md-1 text-center">Publicado</th>
      <th class="col-md-1 text-center">Views</th>
      <th class="col-md-2 text-center"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td class="text-center"><%=l blog.created_at %></td>
        <td class="text-center"><% if blog.creator_published %>SIM<% else %>NÃO<% end %></td>
        <td class="text-center"><%= blog.impressions_count %></td>
        <td>
          <%= link_to t('.show', :default => t("VER")),
                      blog_path(blog), :class => 'btn btn-success' %>
          <%= link_to t('.edit', :default => t("ALTERAR")),
                      edit_blog_path(blog), :class => 'btn btn-info' %>
          <%= link_to t('.destroy', :default => t("APAGAR")),
                      blog_path(blog),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'você tem certeza?')) },
                      :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
