<br>
<h2 class="text-center">Resumo do Artigo/Blog</h2>
<div class="container">
  <div class="row">
    <% if @blog.creator_id != nil %>
    <div class="col-md-12">
      Creador: <strong><%= @blog.creator.page_name %></strong>
    </div>
    <% end %>
    <div class="col-md-12">
      Publicado: <strong><%= @blog.creator_published %></strong>
    </div>
    <div class="col-md-12">
      Publicado: <strong><%= @blog.title %></strong>
    </div>
    <div class="col-md-12">
      Publicado: <strong><%= @blog.short_description %></strong>
    </div>
    <div class="col-md-12">
      TAGs: <strong><%= raw @blog.all_tags %></strong>
    </div>
    <div class="col-md-12">
      URL Post: <a href="http://www.gamershall.gg/post/<%= @blog.slug %>" target="_blank"><strong>www.gamershall.gg/post/<%= @blog.slug %></strong></a>
    </div>
    <div class="col-md-12">
      Sobre: <strong><% if @blog.body != nil %><%= @blog.body.html_safe %><% end %></strong>
    </div>
  </div>

  <p class="text-center">
    <%= link_to t(:'helpers.links.edit'), edit_blog_path(@blog),
      class: 'btn btn-warning' %>
    <%= link_to t(:'helpers.links.back'), blogs_path, class: 'btn btn-default' %>
  </p>
</div>
