<%= render 'perfil/header_perfil' %>
<section class="blog-content container">
  <div class="col col-12">
    <div id="post" class="col col-12">
          <div class="col col-12">
            <div class="text-center">
              <h2 class="mt-10"><%= @game.name %></h2>
              <ul class="datecredits">
                <li class="blog-post-info ">
                <!--  <a href=""><i class="zmdi zmdi-comments pr-10"></i>51</a> -->
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-2 center-block" id="follow_button" style="display: <%= 'none' if @game.followers&.find_by(user_id: current_user&.id) %>;" >
                <%= link_to game_follows_create_path(game_id: @game.id), method: :post, remote: true, class: 'btn btn-warning btn-sm', style: "width: 100%" do %>
                  <i class="fas fa-gamepad"></i><br>
                  <span>Juntar-se</span>
                <% end %>
              </div>

              <div class="col-2 center-block" id="unfollow_button" style="display: <%= 'none' unless @game.followers&.find_by(user_id: current_user&.id) %>;" >
                <%= link_to game_follows_destroy_path(game_id: @game.id), method: :delete, remote: true, class: 'btn btn-success btn-sm', style: "width: 100%" do %>
                  <i class="fas fa-gamepad"></i><br>
                  <span>Abandonar</span>
                <% end %>
              </div>
            </div>
            <div class="read col col-12">
              <%= @game.short_description.html_safe %>
            </div>
            <div class="read col col-12">
              <%= @game.description.html_safe %>
            </div>
          </div>

          <hr>
    </div>
  </div> 
<br class="clearfix">
<div class="clearfix"></div>

</section>
