<%= simple_form_for(@creator) do |f| %>
  <div class="card-header">Perfil de criador - Novo Perfil</div>
<div class="card-body">
<%= f.error_notification %>

    <div class="row">
      <div class="form-inputs">
        <div class="row">
          <div class="col-md-12">
            <%= f.input :page_name, required: true %>
          </div>
          <div class="col-md-6">
            <%= f.label 'Começou em' %><br>
            <%= f.date_field :page_create, class: 'datepicker form-inputs'  %>
          </div>
        </div>
      </div>
      <div class="form-inputs">
        <div class="row">
      <div class="col-md-12">
        <%= f.label 'Descrição curta do seu perfil (ex: Animador / Cartunista / Gamer)' %>
        <%= f.input :short_description, label: false, required: true  %>
      </div>
      <div class="col-md-12">
        <%= f.input :slug %>
      </div>
      <div class="col-md-12">
        <%= f.label 'Bio' %>
        <%= f.cktext_area :about, label: false, rows: 25, cols: 25, required: true %>
        <br>
      </div>
      <div class="col-md-12">
        <%= f.label 'Conteúdo/Jogos/Desenvolvedora/Plataforma separe com ","' %>
        <%= f.input :all_tags, placeholder: "Separe com ','", label: false %>
      </div>
      <div class="col-md-12">
        <%= f.label 'Seu endereço de correspondencia (*dado público)' %>
        <%= f.input :contact_address, label: false %>
      </div>
      <div class="col-md-12">
        <%= f.label 'Seu endereço de email para fãs (*dado público)' %>
        <%= f.input :contact_email, label: false %>
      </div>
      <div class="col-md-12">
        <%= f.label 'Seu telefone para fãs (*dado público)' %>
        <%= f.input :contact_phone, label: false %>
      </div>
      <div class="col-sm-12 text-center">
        <p>Os tamanhos são sugestões de como utilizar</p>
      </div>
    </div>
      </div>
      <div class="form-inputs">
        <div class="row">
          <div class="col-md-12">
            <%= f.label 'Foto Perfil (230 x 230)' %>
            <%= f.file_field :photo, class: 'photo' %> <!-- data-initial="<img src='/home/leandro/Imagens/Captura de tela de 2018-06-18 09-37-03.png' class='file-preview-image' alt='Desert' title='Desert'"> -->
            <br />
          </div>
          <div class="col-md-12">
            <%= f.label 'Foto Destaque na HOME (160 x 160)' %>
            <%= f.file_field :photo_box, class: 'photo_box' %>
            <br />
          </div>
          <div class="col-md-12">
            <%= f.label 'Foto Capa (1920x600)' %>
            <%= f.file_field :cover, class: 'cover'%>
            <br />
          </div>
    </div>
  </div>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function($){
  $('.photo').fileinput({
    language: 'pt-BR',
    overwriteInitial: true,
    initialPreview:'<% if @creator.photo? %> <img src="<%=@creator.photo.thumb%>" class="img-responsive file-preview-image" /> <% end %>',
    showUpload: false,
    showCaption: false,
    showClose: false,
    showRemove: true,
    allowedFileExtensions : ['jpg', 'png','gif', 'JPG', 'GIF', 'PNG'],
    maxFileSize: 10000000,
    maxFilesNum: 1
  });

  $('.photo_box').fileinput({
    language: 'pt-BR',
    overwriteInitial: true,
    initialPreview:'<% if @creator.photo_box? %> <img src="<%=@creator.photo_box.perfil%>" class="img-responsive file-preview-image" /> <% end %>',
    showUpload: false,
    showCaption: false,
    showClose: false,
    showRemove: true,
    allowedFileExtensions : ['jpg', 'png','gif', 'JPG', 'GIF', 'PNG'],
    maxFileSize: 10000000,
    maxFilesNum: 1
  });

  $('.cover').fileinput({
    language: 'pt-BR',
    overwriteInitial: true,
    initialPreview:'<% if @creator.cover? %> <img src="<%=@creator.cover.thumb%>" class="img-responsive file-preview-image" /> <% end %>',
    showUpload: false,
    showCaption: false,
    showClose: false,
    showRemove: true,
    allowedFileExtensions : ['jpg', 'png','gif', 'JPG', 'GIF', 'PNG'],
    maxFileSize: 10000000,
    maxFilesNum: 1
  });
});
  </script>
<% end %>
