<%= simple_form_for(@creator) do |f| %>
<h4 class="text-center">Solicitação de perfil de criador</h4>
<div class="container">
  <div class="row">
  <%= f.error_notification %>
    <% if current_user.admin? %>
      <div class="col-md-12">
        <%= f.association :user %>
      </div>
      <div class="col-md-12">
        <%= f.input :approved %>
      </div>
    <% end %>
    <div class="col-md-12">
      <%= f.label 'Descrição curta do seu perfil (ex: Animador / Cartunista / Gamer)' %>
      <%= f.input :short_description, label: false %>
    </div>
    <div class="col-md-12">
      <%= f.label 'Resumo sobre você' %>
      <%= f.input :about, label: false %>
    </div>
    <div class="col-md-12">
      <%= f.label 'Seu endereço de correspondencia (*dado público)' %>
      <%= f.input :contact_address, label: false %>
    </div>
    <div class="col-md-12">
      <%= f.label 'Seu endereço de email para fãs (*dado público)' %>
      <%= f.input :contact_email, label: false %>
    </div>
    <div class="col-md-12">
      <%= f.label 'Seu telefone para fãs (*dado público)' %>
      <%= f.input :contact_phone, label: false %>
    </div>
    <div class="col-md-12">
      <%= f.input :slug %>
    </div>

    <% if current_user.admin? || current_user.creator? %>
    <div class="col-md-12">
      <%= f.input :stream_embed %>
    </div>
    <div class="col-md-12">
      <%= f.input :facebook_embed %>
    </div>
    <div class="col-md-12">
      <%= f.input :youtube_embed %>
    </div>
    <div class="col-md-12">
      <%= f.input :twitter_embed %>
    </div>
    <div class="col-md-12">
      <%= f.input :instagram_embed %>
    </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
  </div>
<% end %>
