<br>
<h2 class="text-center">Pedido de Criador</h2>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      Usuário: <strong><%= @creator.user.name %></strong>
    </div>
    <div class="col-md-12">
      Aprovado: <strong><%= @creator.approved %></strong>
    </div>
    <div class="col-md-12">
      URL Perfil: <a href="http://www.gamershall.gg/<%= @creator.slug %>" target="_blank"><strong>www.gamershall.gg/<%= @creator.slug %></strong></a>
    </div>
    <div class="col-md-12">
      Sobre: <strong><% if @creator.about != nil %><%= @creator.about.html_safe %><% end %></strong>
    </div>
    <p><small>Tags: <%= raw @creator.games.map(&:name).map { |t| link_to t, game_path(t) }.join(', ') %></small</p>
  </div>

  <p class="text-center">
    <%= link_to t(:'helpers.links.edit'), edit_creator_path(@creator),
      class: 'btn btn-warning' %>
    <%= link_to t(:'helpers.links.back'), creators_path, class: 'btn btn-default' %>
  </p>
</div>
