<div class="col-md-12">
<br>
Olá <strong><%= current_user.name %></strong><br>

Ainda estamos construindo este portal.

</div>
<% if @creator == nil %>
<div class="col-md-12">
  <%= link_to "Solicite login de gerador aqui", new_creator_path %>
</div>
<% end %>
<% if current_user.creator? || current_user.admin? %>
  <div class="col-md-12">
  Você pode editar seus dados <%= link_to "aqui", edit_creator_path(current_user.creator) %><% if current_user.creator? %>, inclusive seus dados de gerador de conteúdo<% end %>
  </div>
<% end %>
<br>
<div class="col-md-12">
Seu IP atual: <strong><%= current_user.current_sign_in_ip %></strong><br>
Seu último IP: <strong><%= current_user.last_sign_in_ip %></strong><br>
<div class="col-md-12">
