<header class="blog-header p-10">
  <div class="col col-lg-1 col-4 float-left">
    <a href="#"><img src=".\img\logo.svg" width="80" title="World of Warcraft" alt="World of Warcraft"></a>
  </div>
  <div class="col col-lg-6 col-8 float-right text-right">
  <ul class="menu-top inline">
    <li><i class="zmdi zmdi-blogger"></i> <a href="<%= public_blog_path %>">BLOG</a></li>
    <li><i id="tt4" class="zmdi zmdi-twitch"></i> <a href="<%= twitch_live_path %>">AO VIVO</a></li>
    <% if user_signed_in? %>

    <% else %>
      <li><i class="zmdi zmdi-account-circle"></i> <a href="/panel">LOGIN</a></li>
      <li><%= link_to "Registre-se", new_user_registration_path, class: "btn btn-warning" %></li>
    <% end %>
  </ul>
  </div>
<!--  <div class="col col-lg-5 col-6 float-right text-right">
      <% #= simple_form_for OpenStruct.new(current_scopes), as: :search, id: 'search', url:  public_result_path, method: :get do |f| %>
        <% #= f.input_field :search, name: :search, class: 'top-search', autofocus: true, placeholder: 'Buscar...' %>

      <% # end %>
    </div> -->
</header>
<% if user_signed_in? %>
<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
  <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a href="<%= root_path %>">GAMERSHALL</a>
      <div id="close-sidebar">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="sidebar-header">
      <div class="user-pic">
        <% if current_user.photo.size >= 1 %>
          <img class="img-responsive img-rounded object-fit-cover" src="<%= current_user.photo.thumb %>" alt="User picture">
        <% else %>
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
          alt="User picture">
        <% end %>
      </div>
      <div class="user-info">
        <span class="user-name"><%= current_user.name %>

        </span>
        <span class="user-role"><% if current_user.creator != nil %>Gerador<% else %>Usuário<% end %></span>
    <!--    <span class="user-status">
          <i class="fa fa-circle"></i>
          <span>Online</span>
        </span> -->
      </div>
    </div>
    <!-- sidebar-header  -->
<!--    <div class="sidebar-search">
      <div>
        <div class="input-group">
          <input type="text" class="form-control search-menu" placeholder="Procurar...">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>-->
    <!-- sidebar-search  -->
    <div class="sidebar-menu">
      <ul>
        <li class="header-menu">
          <span>Geral</span>
        </li>
        <li class="sidebar-dropdown">
          <a href="/panel">
            <i class="zmdi zmdi-apps"></i>
            <span>Dashboard</span>
          <!--  <span class="badge badge-pill badge-warning">New</span> -->
          </a>
        </li>

      <!--  <li class="sidebar-dropdown">
          <a href="#">
            <i class="fa fa-shopping-cart"></i>
            <span>E-commerce</span>
            <span class="badge badge-pill badge-danger">3</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li>
                <a href="#">Products

                </a>
              </li>
              <li>
                <a href="#">Orders</a>
              </li>
              <li>
                <a href="#">Credit cart</a>
              </li>
            </ul>
          </div>
        </li> -->
  <!--      <li class="sidebar-dropdown">
          <a href="#">
            <i class="far fa-gem"></i>
            <span>Components</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li>
                <a href="#">General</a>
              </li>
              <li>
                <a href="#">Panels</a>
              </li>
              <li>
                <a href="#">Tables</a>
              </li>
              <li>
                <a href="#">Icons</a>
              </li>
              <li>
                <a href="#">Forms</a>
              </li>
            </ul>
          </div>
        </li> -->
  <!--      <li class="sidebar-dropdown">
          <a href="#">
            <i class="fa fa-chart-line"></i>
            <span>Charts</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li>
                <a href="#">Pie chart</a>
              </li>
              <li>
                <a href="#">Line chart</a>
              </li>
              <li>
                <a href="#">Bar chart</a>
              </li>
              <li>
                <a href="#">Histogram</a>
              </li>
            </ul>
          </div>
        </li> -->

        <li class="header-menu">
          <span>Conteúdo Seguindo</span>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-gamepad"></i>
            <span>Geradores</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-blogger"></i>
            <span>Blogs</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-twitch"></i>
            <span>Ao Vivo</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-twitter"></i>
            <span>Twitter</span>
          </a>
        </li>
        <% if current_user.creator? || current_user.admin? %>
          <li class="header-menu">
            <span>Gerador de Conteúdo</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-user"></i>
              <span>Meu Perfil</span>
              <span class="badge badge-pill badge-warning">Atualize</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="<%= creator_about_path %>">Dados Gerais</a>
                </li>
                <li>
                  <a href="<%= creator_meta_path %>">Metadados</a>
                </li>
                <li>
                  <a href="<%= creator_social_path %>">Redes Sociais</a>
                </li>
                <li>
                  <a href="<%= creator_image_path %>">Imagens/Arquivos</a>
                </li>
                <li>
                  <a href="<%= creator_contact_path %>">Contato</a>
                </li>
              </ul>
            </div>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-rss"></i>
              <span>Blog</span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="<%= new_blog_path %>">Novo Post</a>
                </li>
                <li>
                  <a href="<%= blogs_path %>">Postagens</a>
                </li>
                <li>
                  <a href="#">Comentários</a>
                </li>
                <li>
                  <a href="#">Configurações</a>
                </li>
              </ul>
            </div>
          </li>
        <% end %>



        <% if current_user.admin? %>
        <li class="header-menu">
          <span>Administrativo</span>
        </li>
        <li>
          <a href="<%= control_user_index_path %>">
            <i class="fa fa-user-circle"></i>
            <span>Usuários</span>
          </a>
        </li>
        <li>
          <a href="<%= creators_path %>">
            <i class="fa fa-id-card"></i>
            <span>Geradores</span>
          </a>
        </li>

        <li>
          <%= link_to(import_path, method: :post) do %>
            <i class="fa fa-id-card"></i>
            <span>Importações</span>
          <% end %>
        </li>
        <% end %>


        <% if current_user.creator == nil %>
        <li class="header-menu">
          <span>Serviços</span>
        </li>
        <li>
          <a href="<%= new_creator_path %>">
            <i class="fa fa-cogs"></i>
            <span>Virar Gerador</span>
            <span class="badge badge-sonar"> </span>
          </a>
        </li>
        <% end %>


        <li class="header-menu">
          <span>Dados Pessoais</span>
        </li>
        <li>
          <a href="<%= edit_user_registration_path %>">
            <i class="fa fa-user"></i>
            <span>Meus Dados</span>
          </a>
        </li>



      </ul>
    </div>
    <!-- sidebar-menu  -->
  </div>
  <!-- sidebar-content  -->
  <div class="sidebar-footer">
    <a href="#">
      <i class="fa fa-bell"></i>
      <span class="badge badge-pill badge-warning notification">0</span>
    </a>
    <a href="#">
      <i class="fa fa-envelope"></i>
      <span class="badge badge-pill badge-success notification">0</span>
    </a>
    <a href="#">
      <i class="fa fa-cog"></i>
      <span class="badge-sonar"></span>
    </a>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-power-off"></i>
      <% end %>
  </div>
</nav>
<% end %>
