<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152402311-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-152402311-1');
    </script>
    <title>Painel Criador - GAMERSHALL</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut ico', :type => 'image/ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_include_tag Ckeditor.cdn_url %>

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="page-wrapper chiller-theme toggled">
      <%= render "layouts/menu" %>
      <!-- sidebar-wrapper  -->
      <main class="page-content <%= controller.controller_name %>">
        <%= yield %>
      </main>
      <!-- page-content" -->
    </div>

</body>


  <script>
    $(document).on('ready page:load', function () {
      $('#post_tag_ids').chosen({
        allow_single_deselect: true,
        width: '100%'
      })
    });
  </script>
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>
  <script src="/js/menu.js"></script>
  <script src="/js/sb-admin-2.js"></script>
</html>
