<!DOCTYPE html>
<html>
  <head>
    <% if @creator != nil
         is_creator = true
       end %>
    <title>Gamers Hall <% if is_creator %> - <%= @creator.page_name %><% end %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <%= favicon_link_tag 'favicon.png', :rel => 'shortcut ico', :type => 'image/png' %>
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
  	<body id="body" data-ng-app="contactApp">

  		<!--Preloader-->

  		<!--/Preloader-->

  		<!--Main Wrapper-->
  		<div class="main-wrapper">

  			<!--Bg Image-->
  			<div class="bg-struct text-center">
          <% if is_creator %>
            <img src="<%= @creator.cover.showimg %>" width="100%" height="600" alt="">
          <% else %>
            <img src="/img/abstract-bg-1.jpg" width="100%" height="600" alt="">
          <% end %>
        </div>
  			<!--/Bg Image-->

  			<div class="mdl-js-layout mdl-layout--fixed-header">

  				<!--Top Header-->
  				<header class="mdl-layout__header">
  					<div class="mdl-layout__header-row mdl-scroll-spy-1">
  						<!-- Title -->
  						<a href="../"><img src="/logo.png" width="100" height="100%" class="d-inline-block align-top" alt=""></a>
  						<div class="mdl-layout-spacer"></div>
  						<ul class="nav mdl-navigation mdl-layout--large-screen-only">

                <% if is_creator %>
    							<li><a href="/<%= @creator.slug %>">Sobre</a></li>
                    <li><a href="<%= public_creator_blog_path(@creator.slug) %>">Blog</a></li>
                  <% if @creator.stream_embed != nil %>
                    <% if @creator.stream_embed.size >= 10 %>
    							         <li><a class="mdl-navigation__link" data-scroll href="/<%= @creator.slug %>#skills_sec">Stream</a></li>
                    <% end %>
                  <% end %>
                  <% if @creator.facebook_embed != nil %>
                    <% if @creator.facebook_embed.size >= 10 %>
      							  <li><a class="mdl-navigation__link" data-scroll href="/<%= @creator.slug %>#portfolio_sec">Facebook</a></li>
                    <% end %>
                  <% end %>
                  <% if @creator.instagram_embed != nil %>
                    <% if @creator.instagram_embed.size >= 10 %>
      							   <li><a class="mdl-navigation__link" data-scroll href="/<%= @creator.slug %>#experience_sec">Instagram</a></li>
                     <% end %>
                  <% end %>
                  <% if @creator.youtube_embed != nil %>
                    <% if @creator.youtube_embed.size >= 10 %>
                      <li><a class="mdl-navigation__link" data-scroll href="/<%= @creator.slug %>#education_sec">YoutTube</a></li>
                    <% end %>
                  <% end %>
                  <% if @creator.twitter_embed != nil %>
                    <% if @creator.twitter_embed.size >= 10 %>
                      <li><a class="mdl-navigation__link" data-scroll href="/<%= @creator.slug %>#references_sec">Twitter</a></li>
                    <% end %>
                  <% end %>
                <% end %>
  						<!--	<li><span id="blog_drp" class="mdl-navigation__link">blog</span>
  								<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
  									data-mdl-for="blog_drp">
  									<li class="mdl-menu__item"><a href="blog-list.html">Blog List</a></li>
  									<li class="mdl-menu__item"><a href="image-blog-post.html">Image Blog Post</a></li>
  									<li class="mdl-menu__item"><a href="gallery-blog-post.html">Gallery Blog Post</a></li>
  									<li class="mdl-menu__item"><a href="youtube-blog-post.html">Youtube Blog Post</a></li>
  									<li class="mdl-menu__item"><a href="vimeo-blog-post.html">Vimeo Blog Post</a></li>
  									<li class="mdl-menu__item"><a href="audio-blog-post.html">Audio Blog Post</a></li>
  								</ul>
  							</li> -->
  							<li><a class="mdl-navigation__link" data-scroll href="#contact_sec">Contato</a></li>
  						</ul>
  						<!-- Right aligned menu below button -->
  					</div>
  				</header>
  				<!--/Top Header-->



	<div class="main-content relative">
    <%= yield %>

    <footer class="footer-sec sec-pad-top-sm sec-pad-bottom text-center">
      <h4>obrigado por vir.</h4>
      <p class="mt-10">Technology and Cooperation Sistemas Ltda</p>
        <ul class="social-icons mt-10">
          <li>
            <a class="facebook-link" href="https://www.facebook.com/techcoopsistemas/">
              <i id="tt6" class="zmdi zmdi-facebook"></i>
              <div class="mdl-tooltip" data-mdl-for="tt6">
                facebook
              </div>
            </a>
          </li>
      <!--    <li>
            <a class="twitter-link" href="#">
              <i id="tt7" class="zmdi zmdi-twitter"></i>
              <div class="mdl-tooltip" data-mdl-for="tt7">
                twitter
              </div>
            </a>
          </li>
          <li>
            <a class="linkedin-link" href="#">
              <i id="tt8" class="zmdi zmdi-linkedin"></i>
              <div class="mdl-tooltip" data-mdl-for="tt8">
                linkedin
              </div>
            </a>
          </li> -->
          <li>
            <a class="dribbble-link" href="http://techcoop.com.br/">
              <i id="tt9" class="zmdi zmdi-dribbble"></i>
              <div class="mdl-tooltip" data-mdl-for="tt9">
                Site
              </div>
            </a>
          </li>
        <!--  <li>
            <a class="instagram-link" href="#">
              <i id="tt10" class="zmdi zmdi-instagram"></i>
              <div class="mdl-tooltip" data-mdl-for="tt10">
                instagram
              </div>
            </a>
          </li> -->
        </ul>

    </footer>
  </div>

</div>
</div>
<!--/Main Wrapper-->

<!-- Scripts -->
<script src="../js/jquery-1.12.4.min.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/material.min.js"></script>
<script src="../js/jQuery.appear.js"></script>
<script src="../js/app.js"></script>
<script src="../js/controllers.js"></script>
<script src="../js/smooth-scroll.js"></script>
<script src="../js/isotope.js"></script>
<script src="../js/lightgallery-all.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/froogaloop2.min.js"></script>
<script src="../js/jquery.slimscroll.js"></script>
<script src="../js/init.js"></script>
</body>
</html>
