<h2>Alterar <%= resource.class.model_name.human %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :name, required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "Deixe em branco para não alterar", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "Sua senha atual para confirmar que é você", required: true %>
  </div>
  <div class="form-group">
    <%= f.label 'Imagem' %>
    <%= f.file_field :photo, class: 'form-control'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar", class: 'btn btn-primary' %>
    <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
  </div>
<% end %>
