<div class="row">
  <div class="col-lg-4 col-lg-offset-4 well">
  </div>
  <div class="col-lg-4 col-lg-offset-4 well" style="margin-top:120px;">
    <div class="text-center">
      <img class="img-fluid" alt="Responsive image" src="/logo.png">
    </div>
    <div class="text-center">
      <h3>Cadastre-se</h3>
    </div>
    <br>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-12">
        <%= f.input :name, required: true, autofocus: true %>
      </div>
      <div class="col-sm-12">
        <%= f.input :email, required: true %>
      </div>
      <div class="col-sm-12">
        <%= f.label 'Foto de Perfil' %><br>
        <%= f.file_field :photo, required: false %>
      </div>
      <div class="col-sm-12">
        <br>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
      </div>
      <div class="col-sm-12">
        <%= f.input :password_confirmation, required: true %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: 'btn btn-primary'  %>
  </div>
<% end %>
    <div class="remmember text-center">
<%= render "users/shared/links" %>
</div>
</div>
</div>
